@model SportHere.Web.ViewModels.Register.TeamProfilViewModel

<div class="col-lg-6">
    <div class="form-group">
        <label asp-for="@Model.HeadCount"></label>
        <input asp-for="@Model.HeadCount" class="form-control" placeholder="Ide írjon!" />
        <span asp-validation-for="@Model.HeadCount" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Email"></label>
        <input asp-for="@Model.Email" class="form-control" placeholder="Ide írjon!"/>
        <span asp-validation-for="@Model.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Address"></label>
        <input asp-for="@Model.Address" class="form-control" placeholder="Ide írjon!"/>
        <span asp-validation-for="@Model.Address" class="text-danger"></span>
    </div>
</div>
<div class="col-lg-6">
    <div class="form-group">
        <label asp-for="@Model.PhoneNumber"></label>
        <input asp-for="@Model.PhoneNumber" class="form-control" placeholder="Ide írjon!"/>
        <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.MobilNumber"></label>
        <input asp-for="@Model.MobilNumber" class="form-control" placeholder="Ide írjon!"/>
        <span asp-validation-for="@Model.MobilNumber" class="text-danger"></span>
    </div>
</div>